.how-1 {
  background: url(/assets/img/selection/how/1-bg.svg) center / cover
      no-repeat,
    #db4431;
}
.how-2 {
  background: url(/assets/img/selection/how/2-bg.svg) center / cover
      no-repeat,
    #db4431;
}
.how-3 {
  background: url(/assets/img/selection/how/3-bg.webp) bottom / cover
      no-repeat,
    #db4431;
}
.how-4 {
  background: url(/assets/img/selection/how/4-bg.svg) center / cover
      no-repeat,
    #db4431;
}
