.banner-1 {
  background: url(/Indepassets/img/banners/1.svg) center / cover no-repeat;
}
.banner-2 {
  background: url(/Indepassets/img/banners/2.svg) center / cover no-repeat;
}

@media (min-width: 768px) {
  .banner-1 {
    background: url(/Indepassets/img/banners/1-desktop.svg) left / cover no-repeat;
  }
  .banner-2 {
    background: url(/Indepassets/img/banners/2-desktop.svg) left / cover no-repeat;
  }
}
