.banner-1 {
  background: url(/Indep/assets/img/banners/1.svg) center / cover no-repeat;
}
.banner-2 {
  background: url(/Indep/assets/img/banners/2.svg) center / cover no-repeat;
}
.banner-3 {
  background: url(/Indep/assets/img/banners/3.svg) center / cover no-repeat;
}
.banner-4 {
  background: url(/Indep/assets/img/banners/4.svg) center / cover no-repeat;
}
.banner-5 {
  background: url(/Indep/assets/img/banners/5.svg) center / cover no-repeat;
}
.banner-6 {
  background: url(/Indep/assets/img/banners/6.svg) center / cover no-repeat;
}
.banner-7 {
  background: url(/Indep/assets/img/banners/7.svg) center / cover no-repeat;
}
.new-car_assets-bg {
  background:
    url(/Indep/assets/img/addCar/photosBG.svg) left / cover no-repeat,
    #f8f8f8;
}

@media (min-width: 768px) {
  .banner-1 {
    background: url(/Indep/assets/img/banners/1-desktop.svg) left / cover
      no-repeat;
  }
  .banner-2 {
    background: url(/Indep/assets/img/banners/2-desktop.svg) left / cover
      no-repeat;
  }
  .banner-3 {
    background: url(/Indep/assets/img/banners/3-desktop.svg) left bottom / cover
      no-repeat;
  }
  .banner-4 {
    background: url(/Indep/assets/img/banners/4-desktop.svg) right bottom /
      cover no-repeat;
  }
  .banner-5 {
    background: url(/Indep/assets/img/banners/5-desktop.svg) left bottom / cover
      no-repeat;
  }
  .banner-6 {
    background: url(/Indep/assets/img/banners/6-desktop.svg) left bottom / cover;
  }
  .banner-7 {
    background: url(/Indep/assets/img/banners/7-desktop.svg) left bottom / cover;
  }
  .new-car_assets-bg {
    background:
      url(/Indep/assets/img/addCar/photosBG-desktop.svg) left / cover no-repeat,
      #f8f8f8;
  }
}
