.custom-details {
  cursor: pointer;
  overflow: hidden;
  padding: 16px 12px;
  font-size: 20px;
  border-bottom: 1px solid #f3f1f2;
  transition: all 0.4s ease;
}
.custom-details:hover {
  background: #f8f8f8;
}
.custom-details::details-content {
  block-size: 0;
  overflow: hidden;
  transition: all 0.5s allow-discrete;
}
.custom-details[open]::details-content {
  block-size: auto;
  block-size: calc-size(auto, size);
}
.custom-details summary {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 500;
}
.custom-details summary img {
  transition: all 0.4s ease-in-out;
}
.custom-details[open] summary img {
  transform: rotateZ(180deg);
}
