.custom-radio-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  background-color: #0000000a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-radio {
  width: 20px;
  height: 20px;
  border: 2px solid #626262;
  border-radius: 999px;
  appearance: none;
  position: relative;
  cursor: pointer;
}

.custom-radio-wrapper:has(.custom-radio:checked) {
  background-color: #db44310a;
}
.custom-radio:checked {
  border: 2px solid #db4431;
}
.custom-radio:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 999px;
  background-color: #db4431;
  display: block;
}
