.custom-radio {
  width: 20px;
  height: 20px;
  border: 2px solid #db4431;
  border-radius: 999px;
  appearance: none;
  position: relative;
}

.custom-radio:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 999px;
  background-color: #db4431;
  display: block;
}
