.how-1 {
    background: url(/Indep/assets/img/selection/1.svg) center / cover no-repeat;
}
.how-2 {
    background: url(/Indep/assets/img/selection/2.svg) right / cover no-repeat;
}
.how-3 {
    background: url(/Indep/assets/img/selection/3.svg) right / cover no-repeat;
}
.how-4 {
    background: url(/Indep/assets/img/selection/4.svg) center / cover no-repeat;
}