@import url(tailwind.css);
@import url(banner.css);
@import url(checkbox.css);
@import url(radio.css);
@import url(range.css);

* {
  font-family: "Moderustic", ui-sans-serif, system-ui, sans-serif;
  scrollbar-color: #db4431 #f7f7f7;
}

html {
  height: 100dvh;
}

main#main {
  padding-bottom: 20px;
}

input {
  cursor: pointer;
}

/* Check-List */
ul#check-list li {
  display: flex;
  align-items: center;
  gap: 12px;
}
ul#check-list li::before {
  content: "✓";
  font-size: 12px;
  width: 20px;
  height: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #43c356;
  border-radius: 2px;
}

@media (min-width: 768px) {
  ul#check-list li::before {
    width: 28px;
    height: 28px;
    border-radius: 6px;
    font-size: 16px;
  }
}

/* Disabled Select */
select:disabled {
  color: #96969680;
}
select:disabled ~ img {
  opacity: 30%;
}

/* Ads Marks Filter */
.btn-mark-active {
  background-color: #f3e4e2 !important;

  span {
    color: #db4431 !important;
  }
}